/*
essential styles:
these make the slideshow work
*/

.slides {
    position: relative;
    height: 500px;
    max-width: 900px;
    padding: 0px;
    list-style-type: none;
    margin: 0 auto;

}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    border: 3px solid #fff(opacity 0);
    border-radius: 20px;
}

.active {
    opacity: 1;
    z-index: 2;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide:nth-of-type(1) {
    background-image: url(https://wallpaperset.com/w/full/3/0/f/120853.jpg)
}

.slide:nth-of-type(2) {
    background-image: url(https://wallpapers.com/images/featured/nature-2ygv7ssy2k0lxlzu.jpg)
}

.slide:nth-of-type(3) {
    background-image: url(https://wallpapercave.com/wp/ixmt8JQ.jpg);
}

.slide:nth-of-type(4) {
    background-image: url(https://cdn.wallpapersafari.com/83/37/2sA69f.jpg);
}

.slide:nth-of-type(5) {
    background-image: url(https://wallpapermemory.com/uploads/456/moraine-lake-wallpaper-full-hd-128727.jpg);
}

.slide:nth-of-type(1),
.slide:nth-of-type(2),
.slide:nth-of-type(3),
.slide:nth-of-type(4),
.slide:nth-of-type(5) {
    background-size: cover;
    background-size: 100% 100%;
}


html,
body {
    padding: 20px 0 0 0;
    margin: 0;
    overflow-x: hidden;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    box-sizing: border-box;

}

.carousel {
    margin-bottom: 20px;

}

.indicators,
.controls {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.indicator,
.control {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 0.2em;
    cursor: pointer;
    transition: ease-out 0.5s;

}


.control img {
    height: 40px;
    width: 40px;
}

.indicator:hover,
.control:hover {
    background-color: darkgray;
}

.indicator.active {
    background-color: gray;
}

@media (min-width: 960px) {
    .slides {
        height: 500px;
    }
}

@media (max-width: 959.8px) {
    .slides {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 959.8px) and (min-width: 722px) {

    .slides {
        height: 450px;
    }

}

@media (max-width: 721.8px) and (min-width: 685px) {

    .slides {
        height: 450px;
    }

}

@media (max-width: 684.8px) and (min-width: 440px) {

    .slides {
        height: 300px;
    }

}

@media (max-width: 439.8px) and (min-width: 200px) {

    .slides {
        height: 200px;
    }

    .control,
    .control img {
        height: 30px;
        width: 30px;
    }

}